---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Card from '../components/Card.astro'

let title = 'Postagens recentes';
let description = 'Um blog criado com o intuito de treinar algumas tecnologias que acabou virando um espaço para escrever meus reviews e tutoriais.';
let permalink = 'https://lucasribeiro.dev.br/';

// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---

<html lang="en">

<head>
	<BaseHead {title} {description} {permalink} />

	<style>
		.card {
			@apply bg-white bg-opacity-20 backdrop-blur-lg rounded-2xl drop-shadow-xl p-8 flex flex-col gap-2;
		}

		.links-menu {
			@apply flex items-center justify-start gap-3 w-full text-gray-200;
		}

		.tag {
			@apply px-2 w-[30%] bg-green-600 rounded-xl text-center cursor-pointer transition-all duration-300;
		}
	</style>
</head>

<body class="bg-gradient-to-r from-neutral-800 to-stone-600 selection:bg-green-900 selection:text-green-500 my-24">
	<BlogHeader />
	<div class="flex container m-auto">
		<aside class="flex flex-col w-1/3 gap-4">
			<Card>
				<header class="flex flex-col justify-center items-center">
					<img src="images/perfil.png" alt="Perfil" class="w-24 h-24 rounded-full border-2 border-violet-800">
					<span class="m-0 text-xl font-bold text-green-600">Lucas Ribeiro</span>
					<span class="text-gray-200">Front-end Developer</span>
				</header>
			</Card>
			<Card>
				<span class="links-menu">
					<img src="assets/svg/map-pin.svg" alt="Icone de map pin" class="text-green-600">
					Brasil
				</span>
				<span class="links-menu">
					<img src="assets/svg/work-bag.svg" alt="My Works">
					<a href="#" class=" transition-all duration-300 hover:text-green-500">Lenyeg</a> | <a href="https://hunter.fm"
						class=" transition-all duration-300 hover:text-orange-500">Hunter - Fm</a>
				</span>
				<span class="links-menu">
					<img src="assets/svg/github.svg" alt="Github">
					<a href="https://github.com/lukinhas711"
						class="transition-all duration-300 hover:text-gray-400">lukinhas711</a>
				</span>
				<span class="links-menu">
					<img src="assets/svg/in.svg" alt="Linkedin">
					<a href="https://github.com/lukinhas711" class="transition-all duration-300 hover:text-gray-400">Lucas
						Ribeiro</a>
				</span>
				<span class="links-menu">
					<img src="assets/svg/twitter.svg" alt="Twitter">
					<a href="https://github.com/lukinhas711" class="transition-all duration-300 hover:text-gray-400">@luskadev</a>
				</span>
				<span class="links-menu">
					<img src="assets/svg/web.svg" alt="Site">
					<a href="https://lucasribeiro.dev.br"
						class="transition-all duration-300 hover:text-gray-400">lucasribeiro.dev.br</a>
				</span>
				<span class="links-menu">
					<img src="assets/svg/mail.svg" alt="Email">
					<a href="mailto:lucas.ribeiro711@gmail.com" class="transition-all duration-300 hover:text-gray-400">E-mail</a>
				</span>
			</Card>
			<Card>
				<h2 class="text-2xl font-bold text-gray-200">Tecnologias</h2>
				<section class="flex flex-wrap gap-2 items-center text-sm justify-center">
					<span class="tag">Javascript</span>
					<span class="tag">Vue</span>
					<span class="tag">Astro</span>
					<span class="tag">Tailwind</span>
					<span class="tag">HTML</span>
					<span class="tag">CSS</span>
				</section>
			</Card>
		</aside>
		<main class="content w-full px-8">
			<header class="card mb-4">
				<h1 class="text-2xl font-bold text-gray-200">{title}</h1>
			</header>
			<section class="card p-8" aria-label="Blog post list">
				{allPosts.map((p) =>
				<BlogPostPreview post={p} />)}
			</section>
		</main>
	</div>
</body>

</html>